<h1>Home#about</h1>
<p>Find me in app/views/home/about.html.erb
  <%= link_to "Home", home_index_path %> <br />
  <%= link_to "About", home_about_path %> <br />
  <%= link_to "Contact", home_contact_path %> <br />
</p>
