<table bgcolor='wheat'><tr>
  <td width='10%' align='left'>
    <%= link_to (image_tag 'logo.png', size: "70x70"), home_index_path%></td>
  <td width='60%' aligh='center'>
    <h1>Point of Service</h1>
  </td>
  <td width='20%' aligh='center'>
    <h1>Search Control</h1>
  </td>
  <td width='20%' aligh='center'>
    <h1>Login Control</h1>
  </td>
</tr></table>
